## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation Search/WeatherPy_vacation.csv")
vacation_df.head(15)

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Jamestown,US,69.12,mist,42.0970,-79.2353,Hampton Inn & Suites Jamestown
1,2,Guaruja,BR,77.07,moderate rain,-23.9931,-46.2564,Charme Hotel Guarujá
2,4,Vaini,TO,75.36,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
3,5,Mitsamiouli,KM,75.47,clear sky,-11.3847,43.2844,Foyer ADM
4,8,Shimoda,JP,66.11,clear sky,34.6667,138.9500,Shimoda Tokyu Hotel
5,9,Praia Da Vitoria,PT,71.76,few clouds,38.7333,-27.0667,Hotel Branco I
6,10,Atuona,PF,77.70,few clouds,-9.8000,-139.0333,Villa Enata
7,11,Hithadhoo,MV,82.98,overcast clouds,-0.6000,73.0833,Scoop Guest House
8,14,Hilo,US,81.81,light rain,19.7297,-155.0900,Hilo Hawaiian Hotel
9,15,Arraial Do Cabo,BR,80.56,moderate rain,-22.9661,-42.0278,Pousada Porto Praia
10,20,Jiwani,PK,81.54,broken clouds,25.0500,61.7417,Al Mumtaz Transport Jiwani
11,23,Albany,US,65.75,moderate rain,42.6001,-73.9662,NaN
12,24,Faanui,PF,78.62,scattered clouds,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
13,26,San Quintin,MX,80.40,overcast clouds,30.4833,-115.9500,Don Eddie's Sport Fishing Center
14,27,Banda Aceh,ID,78.75,broken clouds,5.5577,95.3222,Sulthan Hotel International

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City Name</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Drescription</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
markers_location = locations
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# 4b. Display the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"]== "Broome"]
vacation_end = vacation_df.loc[vacation_df["City"]== "Broome"]
vacation_stop1 = vacation_df.loc[vacation_df["City"]== "Albany"]
vacation_stop2 = vacation_df.loc[vacation_df["City"]== "Torrington"]
vacation_stop3 = vacation_df.loc[vacation_df["City"]== "Bethel"]

In [6]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.

start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]

In [7]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
city_itinerary = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')

fig.add_layer(city_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)

itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,46,Broome,US,68.02,light rain,42.2506,-75.8330,Chenango Valley State Park
1,23,Albany,US,65.75,moderate rain,42.6001,-73.9662,NaN
2,493,Torrington,US,74.12,overcast clouds,41.8007,-73.1212,The Yankee Pedlar Inn
3,348,Bethel,US,75.29,overcast clouds,41.3712,-73.4140,Courtyard by Marriott Danbury

In [9]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [10]:
# 11a. Add a marker layer for each city to the map.
markers_location = locations
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# 11b. Display the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=2)
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))